<div class="mt-4">
   
<form method="GET" action="search">
  
    <label  for="search-input">Key Word</label>
    
    <input type="Text" class="search-input" name="q" id="exampleCheck1">
    <div class = "form-group">
      <label  for="gender-input">Key Word</label>
      <select name="gender" class="form-control" id="gender-input">
        <option value="">chon goi tinh</option>
        <option value="male">male</option>
        <option value="female">female</option>

      </select>
    </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
