<nav class="navbar navbar-expand-lg navbar-dark bg-dark component">
  <div class="container">
    <a class="navbar-brand" href="/">F8 BLOG</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://scontent.fhan14-1.fna.fbcdn.net/v/t39.30808-6/279300488_2826698157631469_1151034434231715131_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=AzwZic82cjkAX-FM1v4&_nc_ht=scontent.fhan14-1.fna&oh=00_AT_lboSkl8wxCmQiFUstMZfc9Kv03s7TtS183bGn86s2xA&oe=62E89527" alt="anh dai dien" class="user-avatar">
            Trọng Nhất
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/courses/create">Đăng ký khóa học</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi</a></li>
            <li><a class="dropdown-item" href="/me/stored/news">Bài viết của tôi</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Đăng khóa học</a></li>
          </ul>
      </li>
    </ul>
     
  </div>
  </div>
</nav>